/* THEME COLORS */
:root {
    --primaryColor: #005CFF;
    --secundaryColor: #4187ff;
    --onPrimaryColor: #FFF;
    --inputTextBorderColor: #DDDDDD;

    --purpleColor: #6220C1;
    --greenColor: #5EC0BE;
    --redColor: #F00;
    --darkBlueColor: #00264E;

    --gray0: #303030;
    --gray1: #838383;
    --gray2: #DEDEDE;
    --gray4: #F5F5F5;


    --hamburguerMenuScrollbarColor: #CECECE;
    --hamburguerMenuScrollbarHoverColor: #AEAEAE;

    --onBannerColor: #4F4F4F;
    --onNewsletterFormsColor: #656565;

    --semiBoldWeight: 600;
}