@import url(colors.css);

/* ALL STYLE */
* {
    margin: 0;
    padding: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
span {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

input {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
}


a {
    color: #000;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
}

a:hover {
    color: var(--primaryColor) !important;
}

nav ul {
    list-style: none;
}



/* TAGS */
img {
    max-width: 100%;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #FFF;
}

header *.bg-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header div.desktop {
    display: none;
}

header div nav li {
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

header div.descount-top-bar {
    flex-direction: column;
    padding: 4px 22px;
    font-size: 14px;
    line-height: 22px;
}

header span.descount-price {
    background-color: var(--purpleColor);
    border-radius: 3px;
    padding: 0 5px;
}

main div.anouncemment {
    width: 100%;
}

main div.anouncemment-img {
    position: absolute;
    width: 100%;
}

main img.anouncemment-img {
    content: url(../images/body/anouncemment-img-mobile.png);
    width: 225px;
    height: 306px;
    mix-blend-mode: darken;
}

main div.anouncemment-text {
    height: 306px;
    gap: 10px;
    margin-right: 29px;
}

main div.supersale {
    flex-direction: column;
    align-items: center;
}

main p.supersale-title-super {
    font-size: 40px;
    margin-bottom: -15px;
    font-family: Nunito, sans-serif;
}

main p.supersale-title-sale {
    font-size: 40px;
    font-weight: lighter;
    font-family: Nunito, sans-serif;
}

main p.supersale-text {
    font-size: 12px;
    color: var(--primaryColor);
    font-family: Nunito, sans-serif;
}

main p.supersale-offer {
    font-size: 32px;
    color: #005CFF;
    font-family: Nunito, sans-serif;
}

main nav {
    display: flex;
    flex-direction: column;
    margin: 56px 16px 0 16px;
    gap: 16px;
}

main nav > div:first-child a{
    color: var(--gray0);
    font-weight: bold;
    text-decoration: underline;
}

main nav.no-mobile {
    display: none;
}

main nav div.top-slider-cards {
    position: relative;
    overflow: hidden;
    gap: 10px;
}

main nav div.top-slider-card {
    border: 1.5px solid #DDDDDD;
    border-radius: 10px;
    padding: 12px 8px;
    transition: all ease-in-out 1s;
}

main nav div.top-slider-card img {
    min-width: 152px;
}

main nav ul li.no-mobile {
    display: none;
}

main nav h4 {
    background-color: var(--greenColor);
    color: #FFF;
    border-radius: 4px;
    padding: 4px;
    font-size: 11px;
    margin-left: 8px;
}

main div.banner {
    flex-direction: column;
    margin-top: 56px;
    margin-bottom: 48px;
    gap: 22px;
}

main div.banner div:last-child {
    padding: 0 24px;
}

main div.banner h2 {
    margin-bottom: 18px;
    font-weight: bold;
    font-family: Nunito, sans-serif;
    font-size: 24px;
}

main div.banner p {
    font-family: Nunito, sans-serif;
}

main div.extended-banner h2 {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-family: Nunito, sans-serif;
    letter-spacing: 0.5px;
    font-size: 20px;
}

main div.extended-banner div.small-container {
    flex-direction: column-reverse;
    padding: 28px 22px;
    gap: 21px;
}

main div.extended-banner p {
    font-family: Nunito, sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    font-size: 12px;
    width: 276px;
}

main div.extended-banner div.icon {
    width: 60px;
}

main div.contact div {
    height: 75px;
}

main div.contact img {
    content: url(../images/body/contact-bg-mobile.png);
}

main div.contact p {
    font-family: Nunito, sans-serif;
    color: var(--onPrimaryColor);
    font-size: 16px;
    padding: 0 15px;
}

main div.newletter p {
    font-weight: bold;
    font-size: 16px;
}

main div.newletter span.newsletter-word {
    font-weight: bold;
    font-size: 16px;
    color: var(--primaryColor);
}

main div.newletter p.newsletter-terms {
    margin-left: 8px;
    font-size: 12px;
    color: var(--onNewsletterFormsColor);
}

main div.newletter p.newsletter-terms a {
    font-weight: bold;
    font-size: 12px;
    color: var(--onNewsletterFormsColor);
    text-decoration: underline;
}


main div.newletter p.newsletter-terms a:hover {
    color: var(--primaryColor);
}

footer {
    margin-bottom: 16px;
}

footer nav {
    margin-bottom: 48px;
}

footer div.footer-menu-item {
    padding: 16px;
}

footer div.gray-4-bg {
    padding: 40px 0;
    margin: 40px 0;
}

footer div.footer-logos {
    margin: 0;
    align-items: center;
}

footer div.footer-content {
    flex-direction: column;
}

footer nav h4 {
    font-weight: bold;
}

footer nav ul {
    display: none;
}

footer nav ul a {
    color: var(--gray0);
}

footer div.social-media-logos {
    gap: 40px;
    margin: 40px 0 48px;
}

footer hr {
    border: 1px solid var(--inputTextBorderColor);
}

footer img.pay-methods {
    content: url(../images/footer/pay-methods-mobile.png);
    width: 288px;
}

footer div.pay-methods {
    width: 100%;
}

footer p.footer-text {
    margin-bottom: 40px;
    padding: 0 16px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

/* DISPLAYS */
.display-flex {
    display: flex;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display.block {
    display: block;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-right {
    justify-content: right;
}



/* POSITIONS */
.position-relative {
    position: relative;
}

.center-text-image {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    width: 100%;
}



/* ALLIGMENT */
.center-alligment {
    align-items: center;
}

.text-center {
    text-align: center;
}



/* FONTS */
.font30 {
    font-size: 30px;
}

.font20 {
    font-size: 20px;
}

.font18 {
    font-size: 18px;
}

.font16 {
    font-size: 16px;
}

.font12 {
    font-size: 12px;
}

.font11 {
    font-size: 11px;
}

.grayFont {
    color: var(--gray0);
}


/* BACKGROUNDS */
.primary-color-bg {
    background-color: var(--primaryColor);
}

.gray-1-bg {
    background-color: #C2C2C2;
}

.gray-2-bg {
    background-color: var(--gray2);
}

.gray-3-bg {
    background-color: #E7E7EA;
}

.gray-4-bg {
    background-color: var(--gray4);
}

.on-primary-color {
    color: var(--onPrimaryColor);
}



/* HEADER */
.top-bar-margin {
    padding: 16px;
}

.top-bar-horizontal-gap {
    gap: 78px;
}

.top-bar-vertical-gap {
    gap: 27px;
}

.top-bar-input-text {
    width: 361px;
    height: 40px;
    border: 1px solid var(--inputTextBorderColor);
    border-radius: 10px;
    padding-left: 19px;
    transition: all ease-in-out 0.25s;
    outline: none;
    background-image: url(../images/icon/search.png);
    background-repeat: no-repeat;
    background-position: 344.7px;
}

.top-bar-input-text::placeholder {
    font-weight: var(--semiBoldWeight);
    color: #000;
}

.top-bar-input-text:hover {
    border-color: #005CFF;
}

.top-bar-input-text:focus {
    border-color: #005CFF;
}



/* LAUNCH */
.launch-nav-internal-spacing {
    gap: 8px;
}

.launch-nav-internal-small-spacing {
    gap: 12px;
}

.launch-nav-input-submit {
    width: 100%;
    height: 40px;
    background-color: var(--primaryColor);
    color: #FFF;
    border: 0px solid var(--primaryColor);
    border-radius: 8px;
    transition: all ease-in-out 0.25s;
}

.launch-nav-input-submit:hover {
    background-color: var(--secundaryColor);
}



/* BANNER */
.extended-banner-vertical-gap {
    gap: 21px;
}

.extended-banner-item-horizontal-gap {
    gap: 14px;
}



/* NEWLETTER FORM */
.newletter-bg {
    width: 358px;
    background-color: var(--gray4);
    border: 0px solid var(--gray4);
    border-radius: 8px;
}

.newletter {
    gap: 16px;
    align-items: center;
    margin-top: 56px;
}

div.newletter form {
    flex-direction: column;
    gap: 16px;
}

.newletter-form-padding {
    padding: 38px 16px;
}

.newletter-form-input-text {
    width: 326px;
    font-weight: normal;
    height: 48px;
    border: 1px solid var(--gray4);
    border-radius: 8px;
    padding-left: 24px;
    transition: all ease-in-out 0.25s;
    outline: none;
    background-image: url(../images/icon/search.png);
    background-repeat: no-repeat;
    background-position: 577.7px;
}

.newletter-form-input-text:hover {
    border: 1px solid #005CFF;
}

.newletter-form-input-text:focus {
    border: 1px solid #005CFF;
}

.newletter-form-input-submit {
    width: 326px;
    height: 48px;
    padding: 14px;
    background-color: var(--primaryColor);
    color: #FFF;
    border: 0px solid var(--primaryColor);
    border-radius: 8px;
    transition: all ease-in-out 0.25s;
}

.newletter-form-input-submit:hover {
    background-color: var(--secundaryColor);
}




/* DESKTOP STYLE WITH CONTAINER */
@media (min-width:760px) {

    /* TAGS */
    header {
        width: 100%;
    }

    header div.desktop {
        display: block;
    }

    header div.mobile {
        display: none;
    }

    header div.descount-top-bar {
        flex-direction: row;
        gap: 4px;
        padding: 4px 0px;
        font-size: 14px;
    }

    header div.profile p {
        font-weight: var(--semiBoldWeight);
        line-height: 14px;
    }

    header nav ul img {
        margin-right: 4px;
    }

    header nav a.menu {
        gap: 8px;
    }

    header span.descount-ticket {
        font-style: italic;
    }

    main div.anouncemment {
        margin-left: 251px;
        width: auto;
    }

    main div.anouncemment-img {
        position: static;
    }

    main img.anouncemment-img {
        content: url(../images/body/anouncemment-img.png);
        width: 100%;
        height: auto;
    }

    main div.anouncemment-text {
        width: 100%;
        height: auto;
        gap: 10px;
        margin-right: 0;
    }

    main div.supersale {
        flex-direction: row;
        align-items: baseline;
    }

    main p.supersale-title-super {
        font-size: 100px;
    }

    main p.supersale-title-sale {
        font-size: 100px;
    }

    main p.supersale-text {
        font-size: 25px;
        letter-spacing: 7.5px;
    }

    main p.supersale-offer {
        font-size: 60px;
    }

    main nav {
        margin: 100px 0 100px;
        gap: 19px;
    }

    main nav > div:first-child a{
        text-decoration: none;
    }

    main nav h4 {
        background-color: var(--greenColor);
        color: #FFF;
        border-radius: 4px;
        padding: 4px;
        font-size: 11px;
        margin-left: 8px;
    }

    main nav.no-mobile {
        display: flex;
    }

    main nav div.top-slider {
        position: relative;
    }

    main nav div.slider-buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 102%;
        bottom: 50%;
        transform: translateX(-10px);
        z-index: 1;
    }

    main nav div.slider-buttons button {
        color: var(--primaryColor);
        background-color: #FFF;
        border: 1px solid var(--primaryColor);
        border-radius: 1000px;
        font-size: 18px;
        padding: 4px;
        transition: all ease-in-out 0.25s;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    }

    main nav div.slider-buttons button:hover{
        color: #FFF;
        background-color: var(--primaryColor);
    }

    main nav ul {
        gap: 17px;
    }

    main nav ul li {
        padding: 6px 8px;
    }

    main nav ul li.no-mobile {
        display: flex;
    }

    main div.banner {
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        gap: 0px;
    }

    main div.banner div:last-child {
        padding: 0 0;
    }

    main div.banner h2 {
        margin-bottom: 22px;
        font-weight: bold;
        font-family: Nunito, sans-serif;
        font-size: 30px;
    }

    main div.banner p {
        font-family: Nunito, sans-serif;
        font-size: 18px;
    }

    main div.extended-banner div.small-container {
        flex-direction: row;
        padding: 0px;
        gap: 0px;
    }

    main div.extended-banner h2 {
        color: var(--onBannerColor);
        font-weight: bold;
        font-family: Nunito, sans-serif;
        font-size: 30px;
    }

    main div.extended-banner p {
        font-family: Nunito, sans-serif;
        color: var(--onBannerColor);
        letter-spacing: 1px;
        font-size: 18px;
        width: 360px;
    }

    main div.extended-banner div.icon {
        width: auto;
    }

    main div.contact div {
        height: 20%;
    }

    main div.contact img {
        content: url(../images/body/contact-bg.png);
    }

    main div.contact p {
        font-family: Nunito, sans-serif;
        color: var(--onPrimaryColor);
        font-size: 30px;
    }

    main div.newletter p {
        font-weight: bold;
        font-size: 20px;
    }

    main div.newletter span.newsletter-word {
        font-size: 20px;
        color: var(--primaryColor);
    }

    main div.newletter p.newsletter-terms {
        margin-left: 8px;
        font-size: 12px;
        color: var(--onNewsletterFormsColor);
    }

    main div.newletter p.newsletter-terms a {
        font-size: 12px;
        color: var(--onNewsletterFormsColor);
        text-decoration: underline;
    }

    footer {
        margin-bottom: 24px;
    }

    footer nav {
        display: flex;
        margin-bottom: 64px;
        gap: 110px;
    }

    footer div.footer-menu-item {
        padding: 0px;
        margin-bottom: 7px;
    }

    footer div.gray-4-bg {
        padding: 64px 0;
    }

    footer div.footer-logos {
        margin-right: 142px;
        align-items: start;
    }

    footer div.footer-content {
        flex-direction: row;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    footer nav h4 {
        margin-bottom: 11px;
        padding: 0;
    }

    footer nav img {
        display: none;
    }

    footer hr {
        display: none;
    }

    footer li.opening-hours p {
        font-size: 12px;
        line-height: 24px;
    }

    footer img.pay-methods {
        content: url(../images/footer/pay-methods.png);
        width: 545px;
    }

    footer p.footer-text {
        padding: 0 51.5px;
        font-size: 12px;
        line-height: 20px;
    }



    /* CONTAINERS */
    .container {
        width: 1177px;
        margin-left: auto;
        margin-right: auto;
    }

    .small-container {
        width: 1177px;
        margin-left: auto;
        margin-right: auto;

    }



    /* HEADER */
    .top-descount-announcement-padding {
        padding: 10px 0px;
    }

    .top-bar-margin {
        margin: 17px 0 23px;
    }

    .top-bar-horizontal-very-small-gap {
        gap: 10px;
    }

    .top-bar-horizontal-small-gap {
        gap: 20px;
    }

    .top-bar-input-text {
        width: 594px;
        height: 40px;
        border: 1px solid var(--inputTextBorderColor);
        border-radius: 10px;
        padding-left: 24px;
        margin-left: 66px;
        transition: all ease-in-out 0.25s;
        outline: none;
        background-image: url(../images/icon/search.png);
        background-repeat: no-repeat;
        background-position: 577.7px;
    }



    /* LAUNCH NAV */
    .launch-nav-internal-spacing {
        gap: 16px;
    }

    .launch-nav-internal-small-spacing {
        gap: 4px;
    }

    .launch-nav-input-submit {
        width: 100%;
        height: 40px;
        background-color: var(--primaryColor);
        color: #FFF;
        border: 0px solid var(--primaryColor);
        border-radius: 8px;
        transition: all ease-in-out 0.25s;
    }



    /* BANNER  */
    .extended-banner {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .extended-banner-item-horizontal-gap {
        gap: 20px;
    }

    .extended-banner-vertical-gap {
        gap: 50px;
    }

    .extended-banner-text-width {
        width: 476px;
    }

    .banner-vertical-gap {
        gap: 22px;
    }

    .banner-text-width {
        width: 487px;
    }

    .banner-image-padding {
        padding: 109px 64px;
    }



    /* NEWLETTER FORM */
    .newletter-bg {
        width: 1260px;
        background-color: var(--gray2);
        border: 0px solid var(--gray2);
    }

    .newletter {
        margin-top: 64px;
    }

    div.newletter form {
        flex-direction: row;
        gap: 24px;
    }

    .newletter-form-padding {
        padding: 64px 0px;
    }

    .newletter-form-input-text {
        width: 280px;
        height: 48px;
        border: 1px solid var(--gray2);
        border-radius: 8px;
        padding-left: 24px;
        transition: all ease-in-out 0.25s;
        outline: none;
        background-image: url(../images/icon/search.png);
        background-repeat: no-repeat;
        background-position: 577.7px;
    }

    .newletter-form-input-submit {
        width: 128px;
        height: 48px;
        padding: 14px;
        background-color: var(--primaryColor);
        color: #FFF;
        border: 0px solid var(--primaryColor);
        border-radius: 8px;
        transition: all ease-in-out 0.25s;
    }



    /* FOOTER */
    .footer-vertical-gap {
        gap: 45px;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .footer-links-padding {
        padding: 64px 0;
    }

    .footer-logo-margin {
        margin-bottom: 40px;
    }

    .footer-social-media-logo-gap {
        gap: 40px;
    }



}