@import url(colors.css);

/* ALL STYLE */
* {
    margin: 0;
    padding: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
span, 
button {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

input {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
}


a {
    color: #000;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
}

a:hover {
    color: var(--primaryColor) !important;
}

nav ul {
    list-style: none;
}



/* TAGS */
img {
    max-width: 100%;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #FFF;
}

header *.bg-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header div.desktop {
    display: none;
}

header div.top-bar-input {
    position: relative;
    display: flex;
    align-items: center;
}

header div.top-bar-input div.top-search-bar-container {
    position: relative;
}

header div.top-bar-input button {
    position: absolute;
    right: 16.3px;
    top: 20%;
    background-color: #FFF;
    border: none;
    transition: all ease-in-out 0.25s;
}

header div.top-search-bar-result p {
    font-size: 0.875rem;
    font-weight: bold;
}

header div.top-search-bar-result button span {
    font-size: 1.2rem;
    color: var(--gray1);
    transition: all ease-in-out 0.25s;
}

header div.top-search-bar-result {
    position: absolute;
    top: 110%;
    width: calc(100% - 15px);
    height: 40px;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
}

header div nav li {
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

header div.descount-top-bar {
    flex-direction: column;
    padding: 4px 22px;
    font-size: 14px;
    line-height: 22px;
}

header span.descount-price {
    background-color: var(--purpleColor);
    border-radius: 3px;
    padding: 0 5px;
}

main div.anouncemment {
    display: none;
}

main img.anouncemment-img {
    content: url(../images/body/anouncemment-img-mobile.png);
    width: 225px;
    height: 306px;
    mix-blend-mode: darken;
}

main div.anouncemment-text {
    height: 306px;
    gap: 10px;
    margin-right: 29px;
}

main div.supersale {
    flex-direction: column;
    align-items: center;
}

main p.supersale-title-super {
    font-size: clamp(40px, 5.2vw, 100px);
    margin-bottom: -15px;
    font-family: Nunito, sans-serif;
}

main p.supersale-title-sale {
    font-size: clamp(40px, 5.2vw, 100px);
    font-weight: lighter;
    font-family: Nunito, sans-serif;
}

main p.supersale-text {
    font-size: clamp(12px, 1.3vw, 25px);
    ;
    color: var(--primaryColor);
    font-family: Nunito, sans-serif;
}

main p.supersale-offer {
    font-size: clamp(32px, 3.12vw, 60px);
    color: #005CFF;
    font-family: Nunito, sans-serif;
}

main nav {
    display: flex;
    flex-direction: column;
    margin: 56px 16px 0 16px;
    gap: 16px;
}

main nav>div:first-child a {
    color: var(--gray0);
    font-weight: bold;
    text-decoration: underline;
}

main nav.no-mobile {
    display: none;
}

main nav div.top-slider-card a {
    position: relative;
}

main nav div.top-slider-card a p {
    position: absolute;
    display: inline-block;
    font-size: 0.625rem;
    font-weight: bold;
    padding: 1px 5px;
    background-color: var(--darkBlueColor);
    color: #FFF;
    border-radius: 4px;
}

main nav div.top-slider-card h4 {
    text-decoration: underline;
}

main nav div.bottom-slider-card img {
    min-width: 152px;
}

main nav div.bottom-slider-card a {
    position: relative;
}

main nav div.bottom-slider-card a p {
    position: absolute;
    display: inline-block;
    font-size: 0.625rem;
    font-weight: bold;
    padding: 1px 5px;
    background-color: var(--darkBlueColor);
    color: #FFF;
    border-radius: 4px;
}

main nav div.bottom-slider-card h4 {
    text-decoration: underline;
}

main nav div.bottom-slider-card img {
    min-width: 152px;
}

main nav ul li.no-mobile {
    display: none;
}

main nav h4 {
    background-color: var(--greenColor);
    color: #FFF;
    border-radius: 4px;
    padding: 4px;
    font-size: 11px;
    margin-left: 8px;
}

main nav a.launch-nav-input-submit {
    width: 100%;
}

main nav a.launch-nav-input-submit button {
    width: 100%;
    height: 40px;
    background-color: var(--primaryColor);
    color: #FFF;
    font-weight: bold;
    border: 0px solid var(--primaryColor);
    border-radius: 8px;
    transition: all ease-in-out 0.25s;
}

main nav a.launch-nav-input-submit button:hover {
    background-color: var(--secundaryColor);
}

main div.banner {
    flex-direction: column;
    margin-top: 56px;
    margin-bottom: 48px;
    gap: 22px;
}

main div.banner div:last-child {
    padding: 0 24px;
}

main div.banner h2 {
    margin-bottom: 18px;
    font-weight: bold;
    font-family: Nunito, sans-serif;
    font-size: clamp(24px, 2.14vw, 30px);
}

main div.banner p {
    font-family: Nunito, sans-serif;
    font-size: 0.875rem;
}

main div.extended-banner h2 {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-family: Nunito, sans-serif;
    letter-spacing: 0.5px;
    font-size: clamp(20px, 2.14vw, 30px);
}

main div.extended-banner div.small-container {
    flex-direction: column-reverse;
    padding: 28px 22px;
    gap: 21px;
}

main div.extended-banner p {
    font-family: Nunito, sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    font-size: 0.75rem;
    width: 276px;
}

main div.extended-banner div.icon {
    width: 60px;
}

main div.contact div {
    height: 75px;
}

main div.contact img {
    content: url(../images/body/contact-bg-mobile.png);
}

main div.contact p {
    font-family: Nunito, sans-serif;
    color: var(--onPrimaryColor);
    font-size: clamp(16px, 1.5vw, 30px);
    padding: 0 15px;
}

div.newletter form {
    flex-direction: column;
    gap: 16px;
}

main div.newletter p {
    font-weight: bold;
    font-size: clamp(16px, 1vw, 20px);
}

main div.newletter span.newsletter-word {
    font-weight: bold;
    font-size: clamp(16px, 1vw, 20px);
    color: var(--primaryColor);
}

main div.newletter p.newsletter-terms {
    margin-left: 8px;
    font-size: 12px;
    color: var(--onNewsletterFormsColor);
}

main div.newletter p.newsletter-terms a {
    font-weight: bold;
    font-size: 12px;
    color: var(--onNewsletterFormsColor);
    text-decoration: underline;
}


main div.newletter p.newsletter-terms a:hover {
    color: var(--primaryColor);
}

footer {
    margin-bottom: 16px;
}

footer nav {
    margin-bottom: 48px;
}

footer nav>div {
    padding: 16px;
}

footer div.gray-4-bg {
    padding: 40px 0;
    margin: 40px 0;
}

footer div.footer-logos {
    margin: 0;
    align-items: center;
}

footer div.footer-content {
    flex-direction: column;
}

footer nav h4 {
    font-size: 16px;
    font-weight: bold;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s;
}

footer nav img {
    transition: all ease-in-out 0.2s;
}

footer nav ul a {
    color: var(--gray0);
}

footer li.opening-hours p {
    font-size: 12px;
    line-height: 24px;
}

footer div.social-media-logos {
    gap: 40px;
    margin: 40px 0 48px;
}

footer hr {
    border: 1px solid var(--inputTextBorderColor);
}

footer img.pay-methods {
    content: url(../images/footer/pay-methods-mobile.png);
    width: 288px;
}

footer div.pay-methods {
    width: 100%;
}

footer p.footer-text {
    margin-bottom: 40px;
    padding: 0 16px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

footer p.footer-text::after {
    content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.";
}

/* DISPLAYS */
.display-flex {
    display: flex;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display.block {
    display: block;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-right {
    justify-content: right;
}

.justify-content-end {
    justify-content: end;
}

.none {
    display: none;
}



/* POSITIONS */
.position-relative {
    position: relative;
}

.center-text-image {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    width: 100%;
}



/* ALLIGMENT */
.center-alligment {
    align-items: center;
}

.text-center {
    text-align: center;
}



/* FONTS */
.font30 {
    font-size: 30px;
}

.font20 {
    font-size: 20px;
}

.font18 {
    font-size: 18px;
}

.font16 {
    font-size: 16px;
}

.font12 {
    font-size: 12px;
}

.font11 {
    font-size: 11px;
}

.grayFont {
    color: var(--gray0);
}


/* BACKGROUNDS */
.primary-color-bg {
    background-color: var(--primaryColor);
}

.gray-1-bg {
    background-color: #C2C2C2;
}

.gray-2-bg {
    background-color: var(--gray2);
}

.gray-3-bg {
    background-color: #E7E7EA;
}

.gray-4-bg {
    background-color: var(--gray4);
}

.on-primary-color {
    color: var(--onPrimaryColor);
}



/* HEADER */
.avanti-logo {
    max-width: 152px;
}

.top-bar-margin {
    padding: 16px;
}

.top-bar-horizontal-gap {
    gap: 21.66vw;
}

.top-bar-vertical-gap {
    gap: 27px;
}

.top-bar-input-text {
    width: 361px;
    height: 40px;
    border: 1px solid var(--inputTextBorderColor);
    border-radius: 10px;
    padding-left: 19px;
    transition: border-color ease-in-out 0.25s;
    outline: none;
}

.top-bar-input-text::placeholder {
    font-weight: var(--semiBoldWeight);
    color: #000;
}

.top-bar-input-text:hover {
    border-color: #005CFF;
}

.top-bar-input-text:focus {
    border-color: #005CFF;
}



/* LAUNCH */
.launch-text {
    font-weight: bold;
    font-size: clamp(16px, 1vw, 20px);
}

.launch-nav-internal-spacing {
    gap: 8px;
}

.launch-nav-internal-small-spacing {
    gap: 12px;
}



/* BANNER */
.extended-banner-vertical-gap {
    gap: 21px;
}

.extended-banner-item-horizontal-gap {
    gap: 14px;
}



/* NEWLETTER FORM */
.newletter-bg {
    width: 358px;
    background-color: var(--gray4);
    border: 0px solid var(--gray4);
    border-radius: 8px;
}

.newletter {
    gap: 16px;
    align-items: center;
    margin-top: 56px;
}

.newletter-form-padding {
    padding: 38px 16px;
}

.newletter-form-input-text {
    width: 326px;
    font-weight: normal;
    height: 48px;
    border: 1px solid var(--gray4);
    border-radius: 8px;
    padding-left: 24px;
    transition: all ease-in-out 0.25s;
    outline: none;
    background-image: url(../images/icon/search.png);
    background-repeat: no-repeat;
    background-position: 577.7px;
}

.newletter-form-input-text:hover {
    border: 1px solid #005CFF;
}

.newletter-form-input-text:focus {
    border: 1px solid #005CFF;
}

.newletter-form-input-submit {
    width: 326px;
    height: 48px;
    padding: 14px;
    background-color: var(--primaryColor);
    color: #FFF;
    border: 0px solid var(--primaryColor);
    border-radius: 8px;
    transition: all ease-in-out 0.25s;
}

.newletter-form-input-submit:hover {
    background-color: var(--secundaryColor);
}



/* FOOTER */
.footer-instagram-logo {
    max-width: 19px;
}

.footer-facebook-logo {
    max-width: 10px;
}

.footer-youtube-logo {
    max-width: 26px;
}

.footer-tiktok-logo {
    max-width: 18px;
}

.footer-menu-showed {
    padding-top: 20px;
    max-height: 500px;
}

.footer-menu-icon-rotate {
    transform: rotate(180deg);
}



/* DESKTOP STYLE WITH CONTAINER */
@media (min-width:760px) {

    /* TAGS */
    header {
        width: 100%;
    }

    header div.desktop {
        display: flex;
    }

    header div.mobile {
        display: none;
    }

    header div.descount-top-bar {
        flex-direction: row;
        gap: 4px;
        padding: 4px 0px;
        font-size: 14px;
    }

    header div.profile p {
        font-weight: var(--semiBoldWeight);
        line-height: 14px;
    }

    header nav ul img {
        margin-right: 4px;
    }

    header div.top-search-bar-result {
        position: absolute;
        margin-left: min(66px, 3.5vw);
        top: 110%;
        width: calc(24px + min(594px, 34vw) - 15px);
        background-color: #FFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    header div.top-bar-input button:hover {
        color: var(--primaryColor);
    }

    header div.top-search-bar-result button span:hover {
        color: var(--primaryColor);
    }

    header nav.hamburguer-menu-items ul>li:first-child p {
        display: flex;
        font-weight: bold;
        gap: min(0.4vw, 8px);
    }

    header nav.hamburguer-menu-items ul>li:first-child span {
        font-size: 1.125rem;
    }

    header span.descount-ticket {
        font-style: italic;
    }

    header div.shopping-car a {
        position: relative;
    }

    header div.shopping-car a p {
        position: absolute;
        left: 70%;
        top: -25%;
        display: inline-block;
        padding: 2px 6px;
        font-size: 0.75rem;
        font-family: Nunito, sans-serif;
        border-radius: 50%;
        background-color: var(--primaryColor);
        color: #FFF;
    }

    main div.anouncemment {
        display: flex;
        position: relative;
        height: min(26.5vw, 510px);
    }

    main div.anouncemment-slider-container {
        display: none;
    }

    main div.anouncemment-img {
        height: 100%;
        position: absolute;
        left: 8.4vw;
    }

    main img.anouncemment-img {
        height: 100%;
        width: auto;
        max-width: 685px;
        content: url(../images/body/anouncemment-img.png);
    }

    main div.anouncemment-text {
        gap: 10px;
        margin-right: 12.6vw;
    }

    main div.supersale {
        flex-direction: row;
        align-items: baseline;
    }

    main p.supersale-text {
        letter-spacing: min(0.39vw, 7.5px);
    }

    main nav {
        margin: min(5vw, 100px) 0;
        gap: 19px;
    }

    main nav>div:first-child a {
        text-decoration: none;
    }

    main nav h4 {
        background-color: var(--greenColor);
        color: #FFF;
        border-radius: 4px;
        padding: 4px;
        font-size: 11px;
        margin-left: 8px;
    }

    main nav.no-mobile {
        display: flex;
        margin: min(3vw, 64px) auto;
        gap: 19px;
    }

    main nav div.top-slider {
        position: relative;
    }
    
    main nav div.bottom-slider {
        position: relative;
    }

    main nav div.slider-buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 102%;
        bottom: 50%;
        transform: translateX(-10px);
        z-index: 1;
    }

    main nav div.slider-buttons button {
        color: var(--primaryColor);
        background-color: #FFF;
        border: 1px solid var(--primaryColor);
        border-radius: 1000px;
        font-size: 18px;
        padding: 4px;
        transition: all ease-in-out 0.25s;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    }

    main nav div.slider-buttons button:hover {
        color: #FFF;
        background-color: var(--primaryColor);
    }

    main nav div.bottom-slider-buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 102%;
        bottom: 50%;
        transform: translateX(-10px);
        z-index: 1;
    }

    main nav div.bottom-slider-buttons button {
        color: var(--primaryColor);
        background-color: #FFF;
        border: 1px solid var(--primaryColor);
        border-radius: 1000px;
        font-size: 18px;
        padding: 4px;
        transition: all ease-in-out 0.25s;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    }

    main nav div.bottom-slider-buttons button:hover {
        color: #FFF;
        background-color: var(--primaryColor);
    }

    main nav ul {
        gap: 17px;
    }

    main nav ul li {
        padding: 6px 8px;
    }

    main nav ul li.no-mobile {
        display: flex;
    }

    main div.banner {
        flex-direction: row;
        margin: auto;
        gap: 1.95vw;
    }

    main div.banner div:last-child {
        padding: 0 0;
    }

    main div.banner h2 {
        margin-bottom: min(1.12vw, 22px);
        font-weight: bold;
        font-family: Nunito, sans-serif;
    }

    main div.banner p {
        font-family: Nunito, sans-serif;
        font-size: 0.75rem;
    }

    main div.extended-banner div.small-container {
        flex-direction: row;
        padding: 0px;
        gap: 2.55vw;
    }

    main div.extended-banner h2 {
        color: var(--onBannerColor);
        font-weight: bold;
        font-family: Nunito, sans-serif;
    }

    main div.extended-banner p {
        font-family: Nunito, sans-serif;
        color: var(--onBannerColor);
        letter-spacing: 1px;
        width: 200px;
        font-size: 0.625rem;
    }

    main div.extended-banner div.icon {
        width: clamp(50px, 4.68vw, 90px);
    }

    main div.contact div {
        height: 20%;
    }

    main div.contact img {
        content: url(../images/body/contact-bg.png);
    }

    main div.newletter form {
        flex-direction: row;
        gap: 1.25vw;
    }

    main div.newletter p.newsletter-terms {
        margin-left: 8px;
        font-size: 12px;
        color: var(--onNewsletterFormsColor);
    }

    main div.newletter p.newsletter-terms a {
        font-size: 12px;
        color: var(--onNewsletterFormsColor);
        text-decoration: underline;
    }

    footer {
        margin-bottom: 24px;
    }

    footer nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
    }

    footer nav ul {
        padding-top: 0;
        max-height: fit-content;
    }

    footer div.footer-menu-item {
        margin-bottom: 7px;
    }

    footer div.gray-4-bg {
        padding: 64px 0;
    }

    footer div.footer-logos {
        margin-right: 7.3vw;
        align-items: start;
    }

    footer div.footer-content {
        flex-direction: row;
    }

    footer nav h4 {
        font-size: 14px;
        margin-bottom: 11px;
        padding: 0;
    }

    footer nav img {
        display: none;
    }

    footer hr {
        display: none;
    }

    footer img.pay-methods {
        content: url(../images/footer/pay-methods.png);
        width: 545px;
    }

    footer p.footer-text::after {
        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.";
    }



    /* HEADER */
    .avanti-logo {
        width: clamp(130px, 10vw, 152px);
    }

    .top-descount-announcement-padding {
        padding: 10px 0px;
    }

    .top-bar-margin {
        margin: 17px 0 23px;
        padding: 0;
    }

    .top-bar-horizontal-very-small-gap {
        gap: 10px;
    }

    .top-bar-horizontal-small-gap {
        gap: 1.25vw;
    }

    .top-bar-input-text {
        width: min(594px, 34vw);
        height: 40px;
        border: 1px solid var(--inputTextBorderColor);
        border-radius: 10px;
        padding-left: 24px;
        margin-left: min(66px, 3.5vw);
        transition: border-color ease-in-out 0.25s;
        outline: none;
    }



    /* LAUNCH NAV */
    .launch-nav-internal-spacing {
        gap: 16px;
    }

    .launch-nav-internal-small-spacing {
        gap: 4px;
    }

    .launch-nav-input-submit {
        width: 100%;
        height: 40px;
        background-color: var(--primaryColor);
        color: #FFF;
        border: 0px solid var(--primaryColor);
        border-radius: 8px;
        transition: all ease-in-out 0.25s;
    }



    /* BANNER  */
    .extended-banner {
        margin-top: 2.6vw;
        margin-bottom: 2.6vw;
        padding-top: 2.6vw;
        padding-bottom: 2.6vw;
    }

    .extended-banner-item-horizontal-gap {
        gap: 1vw;
    }

    .extended-banner-vertical-gap {
        gap: 2.60vw;
    }

    .banner-vertical-gap {
        gap: 1.14vw;
    }

    .banner-text-width {
        width: 70%;
    }

    .banner-image-padding {
        padding: clamp(65px, 5.6vw, 109px) min(35px, 3.3vw, 64px);
    }



    /* NEWLETTER FORM */
    .newletter-bg {
        width: 65.62vw;
        background-color: var(--gray2);
        border: 0px solid var(--gray2);
    }

    .newletter {
        margin-top: 3.33vw;
    }

    .newletter-form-padding {
        padding: 3.33vw 0;
    }

    .newletter-form-input-text {
        width: 14.58vw;
        height: 48px;
        border: 1px solid var(--gray2);
        border-radius: 8px;
        padding-left: 1.25vw;
        transition: all ease-in-out 0.25s;
        outline: none;
    }

    .newletter-form-input-submit {
        width: 121px;
        height: 48px;
        padding: 0.7vw;
        background-color: var(--primaryColor);
        color: #FFF;
        border: 0px solid var(--primaryColor);
        border-radius: 8px;
        transition: all ease-in-out 0.25s;
    }



    /* FOOTER */
    .footer-vertical-gap {
        gap: 45px;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .footer-links-padding {
        padding: 64px 0;
    }

    .footer-logo-margin {
        margin-bottom: 40px;
    }

    .footer-social-media-logo-gap {
        gap: 40px;
    }



}

@media (min-width:960px){
    main div.anouncemment-img {
        left: 7.4vw;
    }

    main div.anouncemment-text {
        margin-right: 11.6vw;
    }

    main div.banner p {
        font-size: 0.875rem;
    }

    main div.extended-banner p {
        width: clamp(260px, 18.75vw, 360px);
        font-size: 0.75rem;
    }
}

@media (min-width:1360px){
    main div.anouncemment-img {
        left: -1.3vw;
    }

    main div.anouncemment-text {
        margin-right: 3.6vw;
    }

    main div.banner p {
        font-size: clamp(1rem, 0.94vw, 1.125rem);
    }

    main div.extended-banner p {
        font-size: clamp(0.875rem, 0.94vw, 1.125rem);
    }

    .banner-text-width {
        width: 41.37%;
    }
}