@import url(colors.css);

.unshowed-card {
    display: none;
}

.undisplayed-card {
    position: absolute;
}

.to-right {
    left: calc(100% + 10px);
}

.to-left-test {
    transform: translateX(-100%);
}



/* BOTTOM BUTTONS */
.slider-bottom-circles {
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 16px;
    align-items: center;
}

.slider-bottom-circles span {
    font-size: 8px;
    color: var(--gray1);
    transition: all ease-in-out 0.25s;
    cursor: default;
}

.slider-bottom-circle-selected {
    font-size: 10px !important;
    color: var(--gray0) !important;
}



/* CARD WIDTH */
.width-5 {
    width: calc((65.5vw - 40px) / 5 - 18px);
}

.width-4 {
    width: calc((65.5vw - 40px) / 4 - 18px);
}

.width-3 {
    width: calc((65.5vw - 40px) / 3 - 18px);
}

.width-2 {
    width: calc((65.5vw - 40px) / 2 - 18px);
}
