@import url(colors.css);

.undisplayed-card {
    position: absolute;
}

.to-left {
    right: 100%;
}

.to-right {
    left: 100%;
}

.slider-bottom-circles {
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 16px;
    align-items: center;
}

.slider-bottom-circles span {
    font-size: 8px;
    color: var(--gray1);
    transition: all ease-in-out 0.25s;
    cursor: default;
}

.slider-bottom-circle-selected {
    font-size: 10px !important;
    color: var(--gray0) !important;
}

